<h1>Game #1</h1>

<div class="favorite">
  <p><%= @game.favorite %></p>
</div>

<div class="game_spread">
  <p><%= @game.spread %></p>
</div>

<div class="underdog">
  <p><%= @game.underdog %></p>
</div>

<div class="favorite_score">
  <p><%= @game.favorite_score %></p>
  </div>

<div class="underdog_score">
  <p><%= @game.underdog_score %></p>
</div>
