<div class="back_to_games">
  <p><%= link_to "Games", games_path %></p>
</div>

<div class="game_number">
  <h1>Game #<%= @game.game_number %></h1>
</div>

<div class="favorite">
  <p><%= @game.favorite %></p>
</div>

<div class="game_spread">
  <p><%= @game.spread %></p>
</div>

<div class="underdog">
  <p><%= @game.underdog %></p>
</div>

<div class="favorite_score">
  <p><%= @game.favorite_score %></p>
  </div>

<div class="underdog_score">
  <p><%= @game.underdog_score %></p>
</div>

<div class="edit_game">
  <p><%= link_to "Edit", edit_game_path(@game) %></p>
</div>
